body {
    position: relative;
    font-family: 'Cousine', monospace;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

h1 {
    margin-left: 95px;
}

.grid-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: lightslategray 1px solid;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.text-container{
    width: 100%;
    line-height: .5em;
    ;
}

.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left:25px;
    margin-bottom: 25px;
    margin-right: 15px;
}